<div class="nx-lang-switch" [class.nx-lang-switch--compact]="compact()" [class.is-open]="isOpen()">
  <button
    type="button"
    class="nx-lang-switch__trigger"
    (click)="toggle()"
    [attr.aria-expanded]="isOpen()"
    aria-haspopup="listbox"
    aria-label="Language"
  >
    <svg [lucideIcon]="'globe'" [size]="15"></svg>
    <span class="nx-lang-switch__current">{{ current.nativeCode }}</span>
    <svg class="nx-lang-switch__chevron" [lucideIcon]="'chevron-down'" [size]="15"></svg>
  </button>

  @if (isOpen()) {
    <ul class="nx-lang-switch__panel" [class.nx-lang-switch__panel--up]="openUpward()" role="listbox">
      @for (opt of languages; track opt.code) {
        <li
          class="nx-lang-switch__option"
          [class.is-selected]="lang.currentLang() === opt.code"
          role="option"
          [attr.aria-selected]="lang.currentLang() === opt.code"
          (click)="select(opt.code)"
        >
          <span class="nx-lang-switch__option-code">{{ opt.nativeCode }}</span>
          <span class="nx-lang-switch__option-label">{{ opt.label }}</span>
          @if (lang.currentLang() === opt.code) {
            <svg [lucideIcon]="'check'" [size]="14"></svg>
          }
        </li>
      }
    </ul>
  }
</div>
